.ardozlock-buyer__buyer-management {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.ardozlock-buyer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#buyer-search {
    padding: 10px;
    width: 300px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    outline: none;
}

#buyer-search:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.ardozlock-buyer__button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.ardozlock-buyer__button--create {
    background-color: #007BFF;
    color: white;
}

.ardozlock-buyer__button--create:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}

.ardozlock-buyer__button--delete {
    background-color: #dc3545;
    color: white;
    margin-left: 10px;
}

.ardozlock-buyer__button--delete:hover {
    background-color: #c82333;
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3);
}

#buyer-list {
    list-style-type: none;
    padding: 0;
}

.ardozlock-buyer__buyer-item {
    padding: 15px;
    border: 1px solid #007BFF;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.ardozlock-buyer__buyer-item:hover {
    border-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.ardozlock-buyer__buyer-info {
    margin-top: 10px;
}

.ardozlock-buyer__app-card {
    margin-top: 10px;
}

.ardozlock-buyer__app-card h5 {
    margin: 5px 0;
    color: #007BFF;
}

.ardozlock-buyer__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: opacity 0.3s ease;
}

.ardozlock-buyer__modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    /* max-width: 500px; */
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
    animation: modalFadeIn 0.4s ease;
    position: relative;
}

.ardozlock-buyer__modal-content h2 {
    margin-bottom: 20px;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.ardozlock-buyer__close {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #aaa;
    transition: color 0.2s ease;
}

.ardozlock-buyer__close:hover,
.ardozlock-buyer__close:focus {
    color: #333;
    outline: none;
}

.ardozlock-buyer__button.ardozlock-buyer__button--save {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.ardozlock-buyer__button.ardozlock-buyer__button--save:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
}

.ardozlock-buyer__button--cancel {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.ardozlock-buyer__button--cancel:hover {
    background-color: #e0e0e0;
}

.ardozlock-buyer__button--cancel:focus {
    background-color: #d6d6d6;
}

#buyer-search:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.ardozlock-buyer__search {
    width: 100%;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    flex: 1;
    margin-right: 20px;
}

.ardozlock-buyer__form-group {
    margin-bottom: 20px;
}

.ardozlock-buyer__form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.ardozlock-buyer__form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}

.ardozlock-buyer__form-group input[type="text"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.ardozlock-buyer__form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /* Расстояние между кнопками */
}

.ardozlock-closepage {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.ardozlock-closepage__header {
    margin-bottom: 20px;
}

.ardozlock-closepage__header h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.ardozlock-closepage__header p {
    font-size: 16px;
    color: #666;
}

.ardozlock-closepage__main {
    margin-bottom: 20px;
}

.ardozlock-closepage__app-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.ardozlock-closepage__app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.ardozlock-closepage__app-header h3 {
    margin: 0;
    font-size: 18px;
}

.ardozlock-closepage__toggle-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.ardozlock-closepage__toggle-btn:hover {
    background-color: #0056b3;
}


.ardozlock-closepage__page-item {
    display: block;
    margin-bottom: 5px;
}

.ardozlock-closepage__footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.ardozlock-closepage__button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.ardozlock-closepage__button--save {
    background-color: #28a745;
    color: white;
}

.ardozlock-closepage__button--save:hover {
    background-color: #218838;
}

.ardozlock-closepage__button--cancel {
    background-color: #6c757d;
    color: white;
}

.ardozlock-closepage__button--cancel:hover {
    background-color: #5a6268;
}

.ardozlock-tab__buttons__list {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding: 20px 22px 0 22px;
}

.ardozlock-tab__button__item {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-bottom: none;
    /* Убираем нижнюю границу, чтобы кнопка выделялась */
    border-radius: 5px 5px 0 0;
    /* Скругляем верхние углы */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ardozlock-tab__button__item:hover {
    background-color: #e0e0e0;
}

.ardozlock-tab__button__item--active {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF;
}

.ardozlock-tab__button__item--active:hover {
    background-color: #0056b3;
}


.ardozlock-closepage__pages-list {
    margin-top: 10px;
}

.ardozlock-closepage__pages-list label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.ardozlock-closepage__select {
    width: 100%;
    height: auto;
    padding: 00px;
    font-size: 16px;
    background-color: #f9f9f9;
    border: 0px solid #ccc;
    border-radius: 5px;
    /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    appearance: none;
}

.ardozlock-closepage__select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.ardozlock-closepage__select option {
    padding: 8px 10px;
    background-color: white;
    color: #333;
    border-bottom: 1px solid #e0e0e0;
}

.ardozlock-closepage__select option:hover {
    background-color: #f1f1f1;
}

.ardozlock-closepage__select option:checked {
    background-color: #007BFF;
    color: white;
}

.ardozlock-closepage__select option:active {
    background-color: #0056b3;
    color: white;
}

.ardozlock-closepage__footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.ardozlock-closepage__button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.ardozlock-closepage__button--save {
    background-color: #28a745;
    color: white;
}

.ardozlock-closepage__button--save:hover {
    background-color: #218838;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ardozlock-closepage__button--cancel {
    background-color: #6c757d;
    color: white;
}

.ardozlock-closepage__button--cancel:hover {
    background-color: #5a6268;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.blocked-pages-selector {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #f9f9f9;
}

.blocked-pages-selector__title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.blocked-pages-selector__content {
    display: flex;
    flex-direction: column;
}

.blocked-pages-selector__select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
}

.blocked-pages-selector__option {
    padding: 5px;
    font-size: 16px;
}

.blocked-pages-selector__button {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.blocked-pages-selector__button--save {
    background-color: #28a745;
}

.blocked-pages-selector__button:hover {
    background-color: #0056b3;
}

.blocked-pages-selector__button--save:hover {
    background-color: #218838;
}

.blocked-pages-selector__app-card {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.blocked-pages-selector__app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.blocked-pages-selector__app-header:hover {
    background-color: #e9ecef;
}

.blocked-pages-selector__app-header h5 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.blocked-pages-selector__toggle-btn {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease;
}

.blocked-pages-selector__toggle-btn:hover {
    color: #0056b3;
}

.blocked-pages-selector__pages-list {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}