<link rel="stylesheet" href="{$plugin_url}css/backendClasedcatlist.css">
{$allShopPages = $wa->shop->pages()}
{$allSitePages = $wa->site->pages()}

<script>
    window.ardozlock = window.ardozlock || {};
    window.ardozlock.allCategories = {json_encode($categories)};
    window.ardozlock.allShopPages = {json_encode($allShopPages)};
    window.ardozlock.allSitePages = {json_encode($allSitePages)};
    window.ardozlock.globalBlockedPages = {json_encode($globalBlockedPages)};
    window.ardozlock.emailTemplateContent = {json_encode($emailTemplateContent)};
</script>

<div id="BuyerManagement"></div>

{literal}
<script type="module">
    {/literal}
    import BuyersManagement from '{$plugin_url}js/components/BuyersManagement.js';
    import GlobalBlockedPages from '{$plugin_url}js/components/GlobalBlockedPages.js';
    import EmailEditor from '{$plugin_url}js/components/EmailEditor.js';
    {literal}

    const app = Vue.createApp({
        delimiters: ['[[', ']]'],
        components: {
            'buyers-management': BuyersManagement,
            'global-blocked-pages': GlobalBlockedPages,
            'email-editor': EmailEditor,
        },
        data() {
            return {
                activeTab: 'buyers',
            };
        },
        computed: {
            isActiveBuyersTab() {
                return this.activeTab === 'buyers';
            },
            isActiveClosedPagesTab() {
                return this.activeTab === 'closedpages';
            },
            isActiveEmailEditorTab() {
                return this.activeTab === 'email-editor';
            }
        },
        template: `
            <div class="ardozlock-tab__buttons__list">
                <button class="ardozlock-tab__button__item" @click="activeTab = 'buyers'">Управление покупателями</button>
                <button class="ardozlock-tab__button__item" @click="activeTab = 'closedpages'">Блокировка страниц</button>
                <button class="ardozlock-tab__button__item" @click="activeTab = 'email-editor'">Редактор писем</button>
            </div>
            <div class="ardozlock-tab__contents__list">
                <buyers-management v-if="isActiveBuyersTab"></buyers-management>
                <global-blocked-pages v-if="isActiveClosedPagesTab"></global-blocked-pages>
                <email-editor v-if="isActiveEmailEditorTab"></email-editor>
            </div>
        `
    });

    app.mount('#BuyerManagement');
</script>
{/literal}
<!-- Подключение CSS CodeMirror -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/codemirror.min.css">

<!-- Подключение JavaScript CodeMirror -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/mode/htmlmixed/htmlmixed.js"></script>
