<link rel="stylesheet" href="{$plugin_url}css/backendClasedcatlist.css">
{$allShopPages = $wa->shop->pages()}
{$allSitePages = $wa->site->pages()}

<script>
    // Инициализация объекта ardozlock, если он не существует
    window.ardozlock = window.ardozlock || {};

    // Передача данных из PHP в JavaScript
    window.ardozlock.allCategories = {json_encode($categories)};
    window.ardozlock.allShopPages = {json_encode($allShopPages)};
    window.ardozlock.allSitePages = {json_encode($allSitePages)};
    window.ardozlock.globalBlockedPages = {json_encode($globalBlockedPages)};
</script>

<div id="BuyerManagement"></div>

{literal}
<script type="module">
    {/literal}
    import BuyersManagement from '{$plugin_url}js/components/BuyersManagement.js';
    import GlobalBlockedPages from '{$plugin_url}js/components/GlobalBlockedPages.js';
    {literal}

    const app = Vue.createApp({
        delimiters: ['[[', ']]'],
        components: {
            'buyers-management': BuyersManagement,
            'global-blocked-pages': GlobalBlockedPages,
        },
        data() {
            return {
                activeTab: 'buyers',  // Управляем состоянием вкладок
            };
        },
        computed: {
            isActiveBuyersTab() {
                return this.activeTab === 'buyers';
            },
            isActiveClosedPagesTab() {
                return this.activeTab === 'closedpages';
            },
        },
        template: `
            <div class="ardozlock-tab__buttons__list">
                <button class="ardozlock-tab__button__item" @click="activeTab = 'buyers'">Управление покупателями</button>
                <button class="ardozlock-tab__button__item" @click="activeTab = 'closedpages'">Блокировка страниц</button>
            </div>
            <div class="ardozlock-tab__contents__list">
                <buyers-management v-if="isActiveBuyersTab"></buyers-management>
                <global-blocked-pages v-if="isActiveClosedPagesTab"></global-blocked-pages>
            </div>
        `
    });

    app.mount('#BuyerManagement');
</script>
{/literal}